{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>{{=T("Edit destinations")}}</h1>   
{{if request.env.http_referer:}}
<a href="{{=request.env.http_referer}}">{{=T("back")}}</a>
{{else:}}
<a href="{{=URL("default","index")}}">{{=T("back")}}</a>
{{pass}}
<br/>
<br/>

<a href="{{=URL("addDestination")}}">{{=T("Add destination")}}</a>
<br/>
<br/>
{{=form}}

<script type="text/javascript"  charset="utf-8">
 $(document).ready(function() {
    $('#datatable').DataTable({
        "scrollX": true,
        "iDisplayLength": 50,
        });
 } );
</script>
